apiVersion: apps/v1
kind: ReplicaSet
metadata:
   name: myrc
spec:
  replicas: 3
  selector:
   matchLabels:
      env: dev
  template:
       metadata:
          labels:
              env: dev
       spec:
            containers:
                 - name: nginxcontainer
                   image: nginx
                   ports:
                     - containerPort: 80